 body  {
     margin: 0%;
     padding: 0;
     box-sizing: border-box;
     padding-top: 50px
 }
 .warrp {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center
 }
 .head {
     width: 200px;
     height: 200px;
     background-color: white;
     border-radius: 200px;
     border: 2px solid black;
     margin: auto;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-bottom: -20px;
     z-index: 10;

    
 }
 .eyes {
     display: flex;
     justify-content: center;
     align-items: center;
     gap:20px;



    &__left {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background: black;
        text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;


    }
    &__rigth {
       width: 50px;
       height: 50px;
       border-radius: 50px;
       background: black;
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
    }
 }
 .dit  {
     background:white;
     width: 20px;
     height: 20px;
     border-radius: 20px;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
  

 }
.lips {
    width: 50px;
    height: 20px;
    border: 5px solid black;
    margin-top: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background: red
    
}
.line  {
    display: flex;
     justify-content: center;
     align-items: center;
     gap: 50px;
     padding-bottom: 10px;
    &__left {
        width: 20px;
        height: 5px;
        border: 2px solid black;
        background: black;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;


    }
    &__rigth {
        width: 20px;
        height: 5px;
        border: 2px solid black;
        background: black;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
}
.main {
    width: 450px;
    height: 450px;
    border-radius: 450px;
    background:white;
    border:2px solid black;
}